/* topnav */
.logo {
    width: 20%;
    float: none;
}
.menu.menu--desktop li {
    float: right;
}
.topnav {
    overflow: hidden;
}

.topnav #links {
    display: none;
}

.topnav a {
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    color: var(--primary);
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    color: var(--accent);
}
/* Mobile Nav */
.menu--mobile .menu__tab--active {
    color: var(--primary);
}

.menu--desktop {
    display: none;
}
/* Side Nav */
aside .nav li a{
    color: var(--primary);
    text-decoration: none;
}

aside .nav li a:hover {
    color: var(--accent);
}
