/* topnav */
.logo {
    width: 20%;
    float: none;
}
.menu.menu--desktop li {
    float: right;
}
.topnav {
    overflow: hidden;
}

.topnav #links {
    display: none;
}

.topnav a {
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    color: var(--primary);
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    color: var(--accent);
}
/* Mobile Nav */
.mobile-nav .menu--mobile .menu__tab--active {
    color: var(--primary);
}

.menu--desktop {
    display: none;
}

/* Side Nav */
aside .nav li a{
    color: var(--primary);
    text-decoration: none;
}

aside .nav li a:hover {
    color: var(--accent);
}
.navigation, .sidenav--desktop{
    display:none;
}
.nav__option a{
    text-decoration: none;
    color: var(--primary);
}

/* page content */
.content {
    background-color:var(--clr-white);
    padding: 10px;
}
.colors {
    max-width: 900px;
    margin: 0 auto;
}
.title {
    padding: 20px 0;
}
.row{
    padding-bottom: 25px;
}
.column{
    padding-bottom: 15px;
}
.c-colorswatch-primary{
    height: 60px;
    width: 100%;
    background-color: var(--clr-primary);
}
.c-colorswatch-secondry{
    height: 60px;
    width: 100%;
    background-color: var(--clr-secondry);
}
.c-colorswatch-light{
    height: 60px;
    width: 100%;
    background-color: var(--clr-light);
}
.c-colorswatch-white{
    height: 60px;
    width: 100%;
    background-color: var(--clr-white);
}
.c-colorswatch-accent1{
    height: 60px;
    width: 100%;
    background-color: var(--clr-accent1);
}
/* Media Quary for responsive layout */
@media (min-width: 768px) {
    .topnav a.icon {
        display: none;
    }
    .menu--desktop {
        display: block;
    }
    .menu--desktop a {
        max-width: 200px;
        float: left;
        display: inline;
    }
    .logo {
        float: left;
    }
    .navigation, .sidenav--desktop{
        display:block;
    }
}