:root {
  --clr-primary: #333333;
	--clr-secondary: #A01313;
	--clr-light: #eeeeee;
	--clr-light2: #f2f2f2;
	--clr-white: #ffffff;
	--clr-grey: #999999;
	--clr-accent1: #002AE6;
	--clr-accent2: #293C98;
	--clr-accent3: #5E1386;
	--clr-accent3t: #5e1386ad;
/* ----------------------------------- font families ---------------------------------- */
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "PT Serif", sans-serif;
	--font-third: "montserrat";

/* --------------------------------- font size ------------------------------- */    
    --font-size-48: 48px;
    --font-size-36: 36px;
    --font-size-24: 24px;
    --font-size-18: 18px;
    --font-size-16: 16px;
    --font-size-14: 14px;

/* --------------------------------- font weight -------------------------------- */
    --font-weight-light: 300;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

/* -------------------------------- Letter spacing -------------------------------- */
    --letterspacing-md: 2px;

/* -------------------------------- Line Height ------------------------------- */
    --lineheight-md: 1.5;

    --btn-shd: 0 8px 15px 0 rgba(0, 0, 0, 0.2);

	--btn-pd: 15px 25px;
	--btn-rd: 5px;


  --spacing: 1rem;
	--spacing2: 2rem;
	--spacing-0: 0px; 
	--spacing-10: 10px; 
	--spacing-15: 15px; 
	--spacing-20: 20px; 
	--spacing-25: 25px; 
	--spacing-40: 40px; 
	--spacing-60: 60px; 
	--spacing-80: 80px;

}

body,
p,
ul,
figure,
picture {
  margin: 0;
	font-family: var(--font-secondary);
	line-height: var(--lineheight-md);
}

h1,
h2,
h3,
h3,
h5 {
  margin: 0;
	font-family: var(--font-primary);
	letter-spacing: var(--letterspacing-md);
	line-height: var(--lineheight-md);
}

h3 {
	font-size: var(--font-size-16);
	padding-bottom: var(--spacing-10);
	padding-top: var(--spacing-20);
}
* {
    box-sizing: border-box;
}
ul,
li {
    list-style-type: none;
    padding: 0;
}


/* --------------------------------------- Utility classes -------------------------------------- */

/* ----------------- Background and text colours ----------------- */

.u-text-primary {
	color: var(--clr-primary);
}

.u-bg-primary {
	background-color: var(--clr-primary);
}

.u-text-secondary {
	color: var(--clr-secondary);
}

.u-bg-secondary {
	background-color: var(--clr-secondary);
}

.u-text-light {
	color: var(--clr-light);
}

.u-bg-light {
	background-color: var(--clr-light);
}

.u-text-white {
	color: var(--clr-white);
}

.u-bg-white {
	background-color: var(--clr-white);
}

.u-text-accent1 {
	color: var(--clr-accent1);
}

.u-bg-accent1 {
	background-color: var(--clr-accent1);
}

.u-text-accent2 {
	color: var(--clr-accent2);
}

.u-bg-accent2 {
	background-color: var(--clr-accent2);
}

.u-text-accent3 {
	color: var(--clr-accent3);
}

.u-bg-accent3 {
	background-color: var(--clr-accent3);
}

/* font family */
.u-font-primary {
	font-family: var(--font-primary) !important;
}

.u-font-secondary {
	font-family: var(--font-secondary) !important;
}

/* ---------------------- font size variations -------------------- */
.u-font-size-48 {
	font-size: var(--font-size-48);
}

.u-font-size-36 {
	font-size: var(--font-size-36);
}

.u-font-size-24 {
	font-size: var(--font-size-24);
}

.u-font-size-18 {
	font-size: var(--font-size-18);
}

.u-font-size-16 {
	font-size: var(--font-size-16);
}

.u-font-size-14 {
	font-size: var(--font-size-14);
}

/* ---------------------------- font weight variations ------------------------*/
.u-font-weight-light {
	font-weight: var(--font-weight-light);
}

.u-font-weight-medium {
	font-weight: var(--font-weight-medium);
}

.u-font-weight-bold {
	font-weight: var(--font-weight-bold);
}

/* ----------------------- Letter Spacing -------------------------*/
.u-letter-spacing {
    letter-spacing: var(--letterspacing-md);
}

/* -------------------------- Letter Height -----------------------*/
.u-line-height {
    line-height: var(--lineheight-md);
}


/* ------------------------ To set display flex --------------------- */
.l-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* To set display grid */
.l-grid {
    display: grid;
    flex-direction: column;
  }

  .box {
	width: 200px;
	height: 200px;
	background-color: cornflowerblue;
	border: 2px solid black; /* Add border to make margin visible */
}


/* Layout Margins */

/* Apply margin to all four sides */
.l-m {
	margin: var(--spacing);
}

/* Apply margin to Top */
.l-mt {
	margin-top: var(--spacing);
}

/* Apply margin to Bottom */
.l-mb {
	margin-bottom: var(--spacing);
}

/* Apply margin to Right */
.l-mr {
	margin-right: var(--spacing);
}

/* Apply margin to Left */
.l-ml {
	margin-left: var(--spacing);
}

/* Apply margin Horizontally Both to Left and Right side */
.l-mx {
	margin-left: var(--spacing);
	margin-right: var(--spacing);
}

/* Apply margin Verticaly to Top and Bottom */
.l-my {
	margin-top: var(--spacing);
	margin-bottom: var(--spacing);
}


/* Padding */

/* Apply Padding to all four sides */
.l-p {
	padding: var(--spacing);
}

/* Apply padding to Top */
.l-pt {
	padding-top: var(--spacing);
}

/* Apply padding to Bottom */
.l-pb {
	padding-bottom: var(--spacing);
}

.l-pb2 {
	padding-bottom: var(--spacing2);
}

/* Apply padding to Right */
.l-pr {
	padding-right: var(--spacing);
}

/* Apply padding to Left */
.l-pl {
	padding-left: var(--spacing);
}

/* Apply padding Horizontally Both to Left and Right side */
.l-px {
	padding-left: var(--spacing);
	padding-right: var(--spacing);
}

/* Apply padding Verticaly to Top and Bottom */
.l-py {
	padding-top: var(--spacing);
	padding-bottom: var(--spacing);
}



  /* To set side bar sticky */
.sticky-sidebar {
    position: sticky;
    top: 50px;
    height: auto;
    min-width: 210px;
    max-width: 210px;
    box-shadow: none;
    border: none;
    margin: 0;
    padding: 0;
    order: 1;
  }
  
  /* To set header sticky */
  .sticky-header {
      position: fixed;
    top: 0;
      width: 100%;
      background-color: var(--clr-light);
      z-index:999;
  }	
  
  /* Desktop Max Width */
.max-width-desktop {
  max-width: 1200px;
  margin: 0 auto;
}

/* Mobile Max Width */
.max-width-mobile {
  max-width: 100%;
  padding: 0 1rem;
}

/* Full Width */
.full-width {
  width: 100%;
}

/* max-width 500ox */
.width-500{
	max-width: 500px;
	margin: 0 auto;
}

  /* To set content center */
.center-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	margin: var(--spacing-20) auto;
	padding: 20px 20px 60px 20px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.c-flex__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.c-flex__item {
	width: calc(50% - 10px);
	margin-bottom: var(--spacing-20);
	background-color: lightblue;
	color: white;
	padding: var(--spacing-10);
	box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
	.c-flex__item {
		width: 100%;
	}
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--spacing-20);
}

.grid-item {
	background-color: lightgreen;
	padding: var(--spacing-10);
	text-align: center;
}

.max-width {
	max-width: 1200px;
	margin: 0 auto;
	background-color: lightcoral;
	padding: 20px 20px 60px 20px;
	box-sizing: border-box;
}

.full-width {
	width: 100%;
	/* background-color: lightpink; */
	padding: 20px 20px 60px 20px;
	box-sizing: border-box;
}

.full-width p {
	padding-top: var(--spacing);
}











/* ------------------------- Design Css Starts ------------------------- */
/* ---------------------------- Logo width described ---------------------------- */
.logo {
  width: 20%;
  float: none;
}

/* ----------------------- Set all nav menu List float right for desktop  ----------------------- */
nav .menu.menu--desktop li {
  float: right;
  padding-right: var(--spacing-10);
}
/* ------------------------- Set Background color of top nav ------------------------- */
.c-topnav {
overflow: hidden;
background-color: var(--clr-light);
padding: var(--spacing-10);
}

/* ---------------------------- Hiding top nav on mobile ---------------------------- */
.c-topnav #links {
  display: none;
}

/* ---------------------------- styling top nav ---------------------------- */
.c-topnav a {
  padding: var(--spacing-10);
  text-decoration: none;
  font-size: var(--font-size-12);
  text-transform: uppercase;
  display: block;
  color: var(--clr-primary);
}

/* ---------------------------- Displaying menu toggle icon for mobile menu  ---------------------------- */
.c-topnav a.icon {
  position: absolute;
  right: 0;
  top: 0;
}

/* ---------------------------- Styling colour on hover for menu item ---------------------------- */
.c-topnav a:hover {
  color: var(--clr-accent1);
}

/* ---------------------------- Setting active links color ---------------------------- */
.mobile-nav .menu--mobile {
  color: var(--clr-primary);
}

/* ---------------------------- Hiding desktop menu ---------------------------- */
.menu--desktop {
  display: none;
}

/* ---------------------------- Setting color for side nav links ---------------------------- */
aside .sidenav li a{
  color: var(--clr-primary);
  text-decoration: none;
}

/* ---------------------------- Setting Hover links color ---------------------------- */
aside .sidenav li a:hover {
  color: var(--clr-accent1);
}

/* ---------------------------- Hiding side nav on desktop ---------------------------- */
.navigation, .sidenav--desktop{
  display: none;
}

/* ---------------------------- Styling side nav ---------------------------- */
aside.navigation {
width: 20%;
padding: 60px 10px 0px 10px;
background-color: var(--clr-light);
min-height: 1500px;
height: 100%;
position: fixed;
z-index: 1;
top: 0;
left: 0;
/* overflow-x: hidden; */
}

/* ---------------------------- Styling sidenav ---------------------------- */
.nav__option a{
  text-decoration: none;
  color: var(--clr-primary);
  font-size: var(--font-size-14);
}

/* ------------------------- Styling numbered list color ------------------------- */
.nav__option a span {
color: var(--clr-accent3);
}

h3.nav__option {
padding-bottom: 0px;
padding-top: 0px;
}

/* ------------------------- Defining H1 Padding ------------------------- */
h1 {

  padding-top: var(--spacing-60);
}

/* ------------------------- Defining H2 Padding ------------------------- */
h2 {
	padding: 20px 0 20px;
}

/* ------------------------- Styling Main content section ------------------------- */
.content {
background-color: var(--clr-white);
padding: var(--spacing-10);
}

/* ------------------------- Styling Rows In content ------------------------- */
.row {
  padding-bottom: var(--spacing-25);
width: 100%;
clear: both;
}

/* ------------------------- Setting Columns with 33% width In content ------------------------- */
.column33 {
  padding-bottom: var(--spacing-15);
}

/* ------------------------- Styling second column of Rows In content ------------------------- */
.column33:nth-child(2) {
font-style: italic;
}

/* ------------------------- Setting Page width ------------------------- */
.page {
max-width: 900px;
margin: 0 auto;
}

/* ------------------------- Setting padding for H2 ------------------------- */
h2.title {
padding: 20px 0;
}
h1.title {
  padding-top: var(--spacing-80);
}

/* ---------------------------- Apply shadow for colour swatches  ---------------------------- */
.c-colorswatch {
border: 1px solid var(--clr-primary);
margin-top: 1rem;
}

/* ---------------------------- Styling primary colour swatch ---------------------------- */
.c-colorswatch-primary{
  height: var(--spacing-60);
  width: 100%;
  background-color: var(--clr-primary);
}

/* ---------------------------- Styling secondary colour swatch ---------------------------- */
.c-colorswatch-secondry{
  height: var(--spacing-60);
  width: 100%;
  background-color: var(--clr-secondry);
}

/* ---------------------------- Styling light colour swatch ---------------------------- */
.c-colorswatch-light{
  height: var(--spacing-60);
  width: 100%;
  background-color: var(--clr-light);
}

/* ---------------------------- Styling white colour swatch ---------------------------- */
.c-colorswatch-white{
  height: var(--spacing-60);
  width: 100%;
  background-color: var(--clr-white);
}

/* ---------------------------- Styling accent1 colour swatch ---------------------------- */
.c-colorswatch-accent1{
  height: var(--spacing-60);
  width: 100%;
  background-color: var(--clr-accent1);
}

/* ---------------------------- Styling accent2 colour swatch ---------------------------- */
.c-colorswatch-accent2{
  height: var(--spacing-60);
  width: 100%;
  background-color: var(--clr-accent2);
}

/* ---------------------------- Styling accent3 colour swatch ---------------------------- */
.c-colorswatch-accent3{
  height: var(--spacing-60);
  width: 100%;
  background-color: var(--clr-accent3);
}

/* ---------------------------- media quaries - desktop specific ---------------------------- */
@media (min-width: 768px) {
  /* ---------------------------- Hiding Toggle icon from desktop ---------------------------- */
  .c-topnav a.icon {
      display: none;
  }

  /* ---------------------------- Showing Top menu for desktop ---------------------------- */
  .menu--desktop {
      display: block;
  }

  /* ---------------------------- Styling topnav menu item for desktop ---------------------------- */
  .menu--desktop a {
      max-width: 200px;
      float: left;
      display: inline;
      font-weight: 400;
  }

  /* ---------------------------- Setting Logo stays on left ---------------------------- */
  .logo {
      float: left;
      font-weight: 400;
  }
  
  /* ---------------------------- Showing sidenav on desktop ---------------------------- */
  .navigation, .sidenav--desktop{
      display:block;
  }

  /* Content Page */
  
  /* ---------------------------- Removing floats ---------------------------- */
  section{
      clear: both;
  }

  /* ------------------------- Setting main content to take 80% space rest 20% set for sidenav ------------------------- */
.content {
  width: 80%;
  /* float: left; */
  /* min-height: 1000px; */
  margin-left: 20%;
}

/* ------------------------- Styling column for destop ------------------------- */
.column {
  float: left;
  padding: var(--spacing-10);
}

/* ------------------------- Defining column Width ------------------------- */
.column-33 {
  width: 33.33%;
}

  .column-20 {
  width: 20%;
}

.column-25 {
  width: 25%;
}

.column-60 {
  width: 60%;
}

/* colorswatch has no margin top on desktop */
.c-colorswatch {
  margin-top: 0;
}

  /* ------------------------- Removing floats ------------------------- */
section {
  clear: both;
}
  /* ---------------------------- Styling Styling sidenav Items ---------------------------- */
  .nav__option {
      font-weight: 500;
  }

  /* ---------------------------- Styling Nav item active colour ---------------------------- */
  .nav__option .nav__option--active{
      color: var(--clr-accent1);
  }
}
.menu__tab .nav__option--active {
color: var(--clr-accent1);
}


/* ------------------------- START: homepage design css  ------------------------- */

/* ------------------------- Styling button for homepage  ------------------------- */
.button {
	background-color: var(--clr-accent3);
	Padding: var(--btn-pd);
	font-family: var(--font-primary);
	font-size: 14px;
	border-radius: var(--btn-rd);
	color: var(--clr-white) !important;
	cursor: pointer;
	font-weight: var(--font-weight-medium);
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	transition: background-color 2s ease;
	border: none;
}

.button:hover {
	background-color: var(--clr-accent3t) !important;
	box-shadow: var(--btn-shd);
}

/* ------------------------- Styling First Section ------------------------- */
.c-hero-container {
	text-align: center;
}

.l-section.c-hero {
	background-image: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(images/hero-image.jpg);
	background-size: cover;
	background-attachment: fixed;
}

/* ------------------------- Styling Second Section ------------------------- */
section {
	padding: 5%;
}
.l-section {
	padding: 12% 5%;
}
.l-each-section {
	padding: 80px 40px 60px 40px;
}

.all-center {
	text-align: center;
}

.c-flex__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.c-flex__item {
	width: 100%;
	margin-bottom: var(--spacing-20);
	background-color: #f2f2f2;
	padding: var(--spacing-10);
	box-sizing: border-box;
	border-radius: var(--btn-rd);
}

.c-flex__item img {
	max-width: 100%;
	height: auto;
	border-radius: var(--btn-rd);
}

.c-flex__item p,
h3 {
	color: var(--clr-accent2);
}

/* ------------------------- Styling Thrid Section ------------------------- */

.third-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: var(--spacing-40);
}

.third-section .l-left-column {
	width: 100%;
	background-image: url('images/about-us.jpg');
	background-size: cover;
	background-position: center;
	height: 390px
}

.third-section .l-right-column {
	width: 100%;
	padding: 20px 40px;
	box-sizing: border-box;
	background-color: #f2f2f2;
	margin: auto;
}

.c-flex__item-3 {
	width: 100%;
	margin-bottom: var(--spacing-20);
}

.c-flex__item-3 img {
	max-width: 100%;
	height: auto;
}

/* ------------------------- Styling Forth Section ------------------------- */
.fourth-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: var(--spacing-40);
	width: 100%;
	margin: auto;
}

.fourth-bg {
	background-color: #f2f2f2;

}

.fourth-section .l-left-column {
	width: 100%;
	padding: var(--spacing-20);
	box-sizing: border-box;
}

.fourth-section .l-right-column {
	width: 100%;
	padding: var(--spacing-20);
	box-sizing: border-box;
	margin: auto;
}

.fourth-section input[type="email"],
.fourth-section input[type="text"],
.fourth-section textarea {
	width: 100%;
	padding: var(--spacing-10);
	margin-bottom: var(--spacing-10);
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

.fourth-section input[type="submit"] {
	border: none;
	cursor: pointer;
	width: 100%;
}

/* ------------------------- Styling Sixth Section ------------------------- */
.c-carousel {
	width: 100%;
	overflow: hidden;
	position: relative;
	margin: var(--spacing-20) auto;
}

.c-carousel-inner {
	display: flex;
	transition: transform 0.5s ease;
}
.c-testimonial {
	flex: 0 0 100%;
	padding: var(--spacing-20);
	box-sizing: border-box;
	text-align: center;
}

.c-testimonial img{
	width: 70px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px #0000007a;
}

.btn {
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: var(--spacing-10);
	z-index: 1;
	font-size: 18px;
	line-height: 10px;
	border-radius: var(--spacing-20);
}

.prev {
	left: 0;
}

.next {
	right: 0;
}

/* ------------------------- Styling Seventh Section ------------------------- */
.l-newsletter-section {
	background-color: #f2f2f2;
}

.c-newsletter-form {
	max-width: 600px;
	margin: 0 auto;
}

.c-newsletter-input {
	width: 100%;
	padding: 10px;
	margin-bottom: var(--spacing-10);
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	line-height: 26px;
}

.l-newsletter-section {
	background-image: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(Images/cta.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.c-newsletter-form button{
	width:100%;
}

/* ------------------------- Styling Footer Section ------------------------- */
.c-footer {
	background-color: #333;
	color: #fff;
	padding: var(--spacing-20);
	text-align: center;
	font-size: 14px;
}


.c-footer-column {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.c-footer-social a {
	color: #fff;
	margin-left: var(--spacing-10);
}
.l-white-icons i{
	color: #ffffff; 
	font-size: var(--spacing-20);
}
.l-purple-icons i{
	color: #5e1386; 
	font-size: 30px;
}

/* ------------------------- Images Page design css  ------------------------- */
.c-image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.c-image-grid img {
  width: 100%;
  height: auto;
display: block;
border-radius: 5px;
border: 1px solid var(--clr-light2);
}

code {
background-color:  var(--clr-light2);
border: 1px solid var(--clr-grey);
display: block;
padding: 20px 20px 40px 20px;
border-radius: 5px;
text-wrap: balance;
}
code h3 {
  padding-top: 0px;
}

/* ------------------------- Interactive Page design css  ------------------------- */
.c-int-element input[type="email"],
.c-int-element input[type="text"],
.c-int-element textarea, select, fieldset {
	width: 100%;
	padding: var(--spacing-10);
	margin-bottom: var(--spacing-10);
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

.c-int-element input[type="submit"] {
	border: none;
	cursor: pointer;
	width: 100%;
}

/* ------------------------- Navbar Page design css  ------------------------- */
.navigation .aside {
	width: 20%;
	padding: 0px 10px 0px 10px;
	background-color: var(--clr-light);
	min-height: 1500px;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	/* overflow-x: hidden; */
}

.aside .sidenav li a {
	color: var(--clr-primary);
	text-decoration: none;
}

.aside .sidenav li a:hover {
	color: var(--clr-accent1);
}
/* ------------------------- Breadcrums Page design css  ------------------------- */
/* Style the list */
ul.breadcrumb {
	padding: 10px 16px;
	list-style: none;
	background-color: var(--clr-light);
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
	display: inline;
	font-size: 18px;
  }
  
  /* Add a slash symbol (>) before/behind each list item */
  ul.breadcrumb li+li:before {
	padding: 8px;
	color: var(--clr-primary);
	content: ">\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
	color:var(--clr-accent1);
	text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
	color: var(--clr-accent2);
	text-decoration: underline;
  }

  /* ------------------------- Pagination Page design css  ------------------------- */
.c-pagination {
	display: inline-block;
}

.c-pagination a {
	color: var(--clr-primary);
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border: 1px solid var(--clr-light);
	margin: 0 4px;
}

.c-pagination a.active {
	background-color: var(--clr-accent3);
	color: var(--clr-white);
	border: 1px solid var(--clr-accent3);
}

.c-pagination a:hover:not(.active) {
	background-color:var(--clr-light);
}

/* ------------------------- Hero Page design css  ------------------------- */

.c-hero-n-container {
	text-align: center;
	color: var(--clr-white)
}

.l-section.c-hero-n {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(Images/hero-image.jpg);
	background-size: cover;
	background-attachment: fixed;
}


/* ------------------------- Card Page design css  ------------------------- */
.c-card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px; /* 5px rounded corners */
	width: 350px;

  }
  
  /* On mouse-over, add a deeper shadow */
  .c-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .c-container {
	padding: 2px 16px;
  }

  .c-card img {
	border-radius: 5px 5px 0 0;
	width: 100%;
  }

  /* ------------------------- accordion Page design css  ------------------------- */
.c-accordion {
	margin: auto;
}

.c-accordion-item {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

.c-accordion-title {
	background-color: #f4f4f4;
	padding: 10px;
	cursor: pointer;
}

.c-accordion-title::after {
	content: '+';
	float: right;
}

.c-accordion-item.active .c-accordion-title::after {
	content: '-';
}

.c-accordion-content {
	padding: 10px;
	display: none;
}

.c-accordion-item.active .c-accordion-content {
	display: block;
}

/* ------------------------- List Page design css  ------------------------- */
.list ul,li,ol{
	list-style-type: revert;
	padding: revert;
	margin: 0px;
}

.comingsoon{
	padding: 17% 0 20%;
	height: 100vh;
}

/* ------------------------- Desktop responsiveness ------------------------- */

@media (min-width: 768px) {
	.c-flex__item {
		width: calc(25% - 20px);
	}

	.third-section .l-left-column {
		width: 40%;
	}
	
	.third-section .l-right-column {
		width: 60%;
	}
	.c-flex__item-3 {
		width: calc(33.33% - 20px);
	}

	.fourth-section{
		width: 80%;
	}

	.fourth-section-n {
		width: 100% !important;
	}
	
	.fourth-section .l-left-column {
		width: 45%;
		/* Adjust as needed */
		padding: var(--spacing-20);
		box-sizing: border-box;
	}
	
	.fourth-section .l-right-column {
		width: 50%;
	}

  .c-testimonial {
		flex: 0 0 33.33%;
	}

	.c-testimonial-section{
		width: 1000px;
		margin: auto;
	}

	.c-testimonial2-section{
		width: 900px;
		margin: auto;
	}
  .c-newsletter-input {
		width: 472px;
	}
	.c-newsletter-form button {
		width: initial;
	}
  .c-footer-column{
		width: 33.33%;
	}
		
	.c-footer-logo {
		text-align: left;
	}

	.c-footer-copyright {
		text-align: center;
	}

	.c-footer-social {
		text-align: right;
	}

}
