:root {
    --primary: #000000; /* black */
    --secondary: #333333; /* dark grey */
    --accent: #777777; /* dark grey */
    --light: #eeeeee; /* very light grey */
    --white: #ffffff; /* white */
}