:root {
    --clr-primary: #333333;
    --clr-secondry:#A01313;
    --clr-light: #eeeeee;
    --clr-white: #ffffff;
    --clr-accent1:#002AE6;
    --clr-accent2: #293C98;
    --clr-accent3: #5E1386;
/* ----------------------------------- font families ---------------------------------- */
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "PT Serif", sans-serif;

/* --------------------------------- font size ------------------------------- */    
    --font-size-48: 48px;
    --font-size-36: 36px;
    --font-size-24: 24px;
    --font-size-18: 18px;
    --font-size-16: 16px;

/* --------------------------------- font weight -------------------------------- */
    --font-weight-light: 300;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

/* -------------------------------- Letter spacing -------------------------------- */
    --letterspacing-md: 2px;

/* -------------------------------- Line Height ------------------------------- */
    --lineheight-md: 1.5;

}
body,
p,
ul,
figure,
picture {
    margin: 0;
    font-family: var(--font-secondary);
}

h1,
h2,
h3,
h3,
h5 {
    margin: 0;
    font-family: var(--font-primary);
}

h3 {
    padding-bottom:10px;
    padding-top:20px;
}
* {
    box-sizing: border-box;
}
ul,
li {
    list-style-type: none;
    padding: 0;
}


/* --------------------------------------- Utility classes -------------------------------------- */

/* ----------------- Background and text colours ----------------- */

.u-text-primary {
	color: var(--clr-primary);
}

.u-bg-primary {
	background-color: var(--clr-primary);
}

.u-text-secondary {
	color: var(--clr-secondary);
}

.u-bg-secondary {
	background-color: var(--clr-secondary);
}

.u-text-light {
	color: var(--clr-light);
}

.u-bg-light {
	background-color: var(--clr-light);
}

.u-text-white {
	color: var(--clr-white);
}

.u-bg-white {
	background-color: var(--clr-white);
}

.u-text-accent1 {
	color: var(--clr-accent1);
}

.u-bg-accent1 {
	background-color: var(--clr-accent1);
}

.u-text-accent2 {
	color: var(--clr-accent2);
}

.u-bg-accent2 {
	background-color: var(--clr-accent2);
}

.u-text-accent3 {
	color: var(--clr-accent3);
}

.u-bg-accent3 {
	background-color: var(--clr-accent3);
}

/* -------------------font family -------------------*/
.u-font-primary {
	font-family: var(--font-primary) !important;
}

.u-font-secondary {
	font-family: var(--font-secondary) !important;
}

/* ---------------------- font size variations -------------------- */
.u-font-size-48 {
	font-size: var(--font-size-48);
}

.u-font-size-36 {
	font-size: var(--font-size-36);
}

.u-font-size-24 {
	font-size: var(--font-size-24);
}

.u-font-size-18 {
	font-size: var(--font-size-18);
}

.u-font-size-16 {
	font-size: var(--font-size-16);
}

/* ---------------------------- font weight variations ------------------------*/
.u-font-weight-light {
	font-weight: var(--font-weight-light);
}

.u-font-weight-medium {
	font-weight: var(--font-weight-medium);
}

.u-font-weight-bold {
	font-weight: var(--font-weight-bold);
}

/* ----------------------- Letter Spacing -------------------------*/
.u-letter-spacing {
    letter-spacing: var(--letterspacing-md);
}

/* -------------------------- Letter Height -----------------------*/
.u-line-height {
    line-height: var(--lineheight-md);
}


/* ------------------------ To set display flex --------------------- */
.l-flex {
    display: flex;
    flex-direction: row;
  }

  /* To set display grid */
.l-grid {
    display: grid;
    flex-direction: column;
  }

  .box {
	width: 200px;
	height: 200px;
	background-color: cornflowerblue;
	border: 2px solid black; /* Add border to make margin visible */
}


/* Layout Margins */

/* Apply margin to all four sides */
.l-m {
  margin: 1rem;
}
/* Apply margin to Top */
.l-mt-1 {
    margin-top: 1rem;
  }

  /* Apply margin to Bottom */
.l-mb-1 {
    margin-bottom: 1rem;
  }

  /* Apply margin to Right */
.l-mr-1 {
    margin-right: 1rem;
  }

  /* To set content center */
.center-content {
    display: flex;
    align-items: center;
  }

  /* Apply margin to Left */
.l-ml-1 {
    margin-left: 1rem;
  }
  
  /* Apply margin Horizontally Both to Left and Right side */
  .l-mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  /* Apply margin Verticaly to Top and Bottom */
  .l-my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
/* Padding */

/* Apply Padding to all four sides */
.l-p {
    padding: 1rem;
  }
  
  /* Apply padding to Top */
  .l-pt-1 {
    padding-top: 1rem;
  }
  
  /* Apply padding to Bottom */
  .l-pb-1 {
    padding-bottom: 1rem;
  }
  
  /* Apply padding to Right */
  .l-pr-1 {
    padding-right: 1rem;
  }
  
  /* Apply padding to Left */
  .l-pl-1 {
    padding-left: 1rem;
  }
  
  /* Apply padding Horizontally Both to Left and Right side */
  .l-px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  /* Apply padding Verticaly to Top and Bottom */
  .l-py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }  

  /* To set side bar sticky */
.sticky-sidebar {
    position: sticky;
    top: 50px;
    height: auto;
    min-width: 210px;
    max-width: 210px;
    box-shadow: none;
    border: none;
    margin: 0;
    padding: 0;
    order: 1;
  }
  
  /* To set header sticky */
  .sticky-header {
      position: fixed;
    top: 0;
      width: 100%;
      background-color: var(--clr-light);
      z-index:999;
  }		

  /* To set content center */
.center-content {
  display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	margin: 20px auto;
	padding: 20px 20px 60px 20px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.flex-item {
	width: calc(50% - 10px);
	margin-bottom: 20px;
	background-color: lightblue;
	color: white;
	padding: 10px;
	box-sizing: border-box;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.grid-item {
	background-color: lightgreen;
	padding: 10px;
	text-align: center;
}
